fastapi[standard]
uvicorn
python-dotenv
sqlalchemy
alembic
psycopg2-binary
bcrypt
pyjwt
python-multipart

huggingface_hub
numpy

langchain
langchain-text-splitters
langchain-chroma
chromadb
sentence-transformers